<head>
	<style>
	table{
		font-size: 24;
		width: 100%;
	}
	tr:nth-of-type(1){
		font-weight: bold;
	}
	span{
		float: right;
		padding: 0 10;
	}
	span.green{
		color: green;
	}
	span.red{
		color: red;
	}
	span.grey{
		color: grey;
	}
	td{
		width: 33%;
	}
	td.truetrue,td.truenull{
		background-color: lightgreen;
	}
	td.falsetrue,td.truefalse,td.falsenull,td.falsefalse{
		background-color: pink;
	}
	td.true{
		background-color: lightgreen;
	}
	td.false{
		background-color: pink;
	}
	td.null{
		background-color: lightgrey;
	}
	a{
		color: blue;
	}
	td:nth-of-type(2) > a, td:nth-of-type(2) > span{
		float: right;
	}
	a:nth-of-type(2){
		float: right;
	}
	</style>
</head>
<html>
	<h1>
		Test report generated at: {{date}}<br>
		Suite: {{suite}}<br>
		Suite last ran at: {{earliest}}
	</h1>
	<table border cellspacing=0>
		<tr>
			<td>
				Test Name
				<span title="Total">{{count}}</span>
			</td>
			<td>
				Test Result
				<span class=red title="Failed">{{fails}}</span>
				<span class=green title="Passed">{{passes}}</span>
			</td>
			<td>
				Screenshot Comparison
				<span class=red title="Failed">{{screenshotfails}}</span>
				<span class=grey title="Disabled">{{screenshotnulls}}</span>
				<span class=green title="Passed">{{screenshotpasses}}</span>
			</td>
		</tr>
		{{#each results}}
		<tr>
			<td class="{{class}}{{class2}}">
				<strong>{{name}}</strong><br>
				{{details}}
			</td>
			<td class="{{class}}">
				{{{testResult}}}
			</td>
			<td class="{{class2}}">
				{{{screenshotResult}}}
			</td>
		</tr>
		{{/each}}
	</table>
</html>