<head>
	<style>
	table{
		font-size: 24;
		width: 100%;
	}
	#header{
		font-weight: bold;
	}
	#header span{
		font-weight: bold;
		float: right;
		padding: 0 10;
	}
	span.green{
		color: green;
	}
	span.red{
		color: red;
	}
	span.grey{
		color: grey;
	}
	svg{
		height: 100px;
		width: 98%;
		margin: 1%;
	}
	#header svg{
		height: 100px;
		width: 100px;
		float: right;
		font-size: 20;
	}
	#header ~ tr > td {
		padding: 0;
		border: none;
	}
	td{
		width: 33%;
		vertical-align: top;
		border: 1px solid black;
		border-radius: 6px;
		padding: 3px;
	}
	.truetrue,.truenull{
		background-color: lightgreen;
	}
	.falsetrue,.truefalse,.falsenull,.falsefalse{
		background-color: pink;
	}
	.true{
		background-color: lightgreen;
		fill: lightgreen;
	}
	.false{
		background-color: pink;
		fill: pink;
	}
	.null{
		background-color: lightgrey;
	}
	a{
		color: blue;
	}
	div{
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.5s;
	}
	details{
		background: white;
	}
	details summary::-webkit-details-marker{
		display: none;
	}
	.error{
		background-color: pink;
		color: red;
		float: right;
	}
	.error:before, .error:after{
		content:"\26A0";
		font-size: 19px;
	}
	.target{
		font-size: 14;
		display: block;
	}
	span.target:before{
		content: "\29BB";
		color: red;
		transform: rotate(45deg);
		display: inline-block;
	}
	.step{
		display: block;
		border-radius: 6px;
		padding: 0px 3px;
	}
	video{
		width: 100%;
		border: 1px solid black;
	}
	td:nth-child(3) figure{
		width: 50%;
		margin: 0;
		display: inline-block;
	}
	img{
		width: 100%;
		vertical-align: top;
	}
	</style>
</head>
<html>
	<h1>
		Test report generated at: {{date}}<br>
		Suite: {{suite}}<br>
		Suite last ran at: {{earliest}}
	</h1>
	<table cellspacing=0 cellpadding=0>
		<tr id=header>
			<td>
				Test Name
				<svg id=pie>
					<path stroke="none" fill="green" d="{{pietp}}" />
					<path stroke="none" fill="red" d="{{pietf}}" />
					<circle cx=50 cy=50 r=25 fill=white />
					<text x="50" y="47" fill="green" text-anchor="middle">{{totalpasses}}</text>
					<text x="50" y="63" fill="red" text-anchor="middle">{{totalfails}}</text>
				</svg>
			</td>
			<td>
				Test Result
				<span class=red title="Failed">{{fails}}</span>
				<span class=green title="Passed">{{passes}}</span>
			</td>
			<td>
				Screenshot Comparison
				<span class=red title="Failed">{{screenshotfails}}</span>
				<span class=grey title="Disabled">{{screenshotnulls}}</span>
				<span class=green title="Passed">{{screenshotpasses}}</span>
			</td>
		</tr>
		{{#each results}}
		<tr>
			<td colspan=3>
				<details>
					<summary>
						<table cellpadding=0 cellspacing=0>
							<tr>
								<td class="{{class}}{{class2}}">
									<strong>{{name}}</strong><br>
									{{details}}
								</td>
								<td class="{{class}}">
									{{{testResult}}}
								</td>
								<td class="{{class2}}">
									{{{screenshotResult}}}
								</td>
							</tr>
						</table>
					</summary>
					<table cellpadding=0 cellspacing=0>
						<tr>
							<td align=center>
								<svg viewbox="0 0 500 100" preserveAspectRatio="none">
									<defs>
										<marker id="marker" overflow="visible">
											<circle r="2" cx="0" cy="0" fill="black"></circle>
										</marker>
									</defs>
									<rect width="50" height="100%" class="{{history.9.result}}"></rect>
									<rect width="50" height="100%" class="{{history.8.result}}" x=50></rect>
									<rect width="50" height="100%" class="{{history.7.result}}" x=100></rect>
									<rect width="50" height="100%" class="{{history.6.result}}" x=150></rect>
									<rect width="50" height="100%" class="{{history.5.result}}" x=200></rect>
									<rect width="50" height="100%" class="{{history.4.result}}" x=250></rect>
									<rect width="50" height="100%" class="{{history.3.result}}" x=300></rect>
									<rect width="50" height="100%" class="{{history.2.result}}" x=350></rect>
									<rect width="50" height="100%" class="{{history.1.result}}" x=400></rect>
									<rect width="50" height="100%" class="{{history.0.result}}" x=450></rect>
									<path d="M 25 {{svgc.9.c}} L 75 {{svgc.8.c}} L 125 {{svgc.7.c}} L 175 {{svgc.6.c}} L 225 {{svgc.5.c}} L 275 {{svgc.4.c}} L 325 {{svgc.3.c}} L 375 {{svgc.2.c}} L 425 {{svgc.1.c}} L 475 {{svgc.0.c}}" fill=none stroke=black  marker-start="url(#marker)" marker-mid="url(#marker)" marker-end="url(#marker)"></path>
								</svg>
								Execution times of the last 10 test results.<br>
								{{{video}}}
							</td>
							<td>
								{{#each steps}}
								{{{notes}}}
								{{/each}}
							</td>
							<td align=center>
								{{{screenshots}}}
							</td>
						</tr>
					</table>
				</details>
			</td>
		</tr>
		{{/each}}
	</table>
</html>