<head>
	<style>
	.true{
		background-color:lightgreen;
	}
	.false{
		background-color:pink;
	}
	.null{
		background-color:lightgrey;
	}
	a{
		color:blue;
	}
	a:nth-of-type(2){
		float:right;
	}
	</style>
</head>
<html>
	<table border>
		<tr>
			<td>
				Test Name
			</td>
			<td>
				Test Result
			</td>
			<td>
				Screenshot Comparison
			</td>
		</tr>
		{{#each results}}
		<tr>
			<td>
				{{{name}}}
			</td>
			<td class="{{{class}}}">
				{{{testResult}}}
			</td>
			<td class="{{{class2}}}">
				{{{screenshotResult}}}
			</td>
		</tr>
		{{/each}}
</html>