<head>
	<style>
	table{
		font-size: 24;
		width: 100%;
	}
	tr:nth-of-type(1){
		font-weight: bold;
	}
	span{
		float: right;
		padding: 0 10;
	}
	span.green{
		color: green;
	}
	span.red{
		color: red;
	}
	span.grey{
		color: grey;
	}
	svg{
		height: 100px;
		width: 98%;
		margin: 1%;
	}
	tr:first-child svg{
		height: 100px;
		width: 100px;
		float: right;
		font-size: 20;
	}
	tr:first-child {
		vertical-align: top;
	}
	td{
		width: 33%;
	}
	.truetrue,.truenull{
		background-color: lightgreen;
	}
	.falsetrue,.truefalse,.falsenull,.falsefalse{
		background-color: pink;
	}
	.true{
		background-color: lightgreen;
		fill: lightgreen;
	}
	.false{
		background-color: pink;
		fill: pink;
	}
	.null{
		background-color: lightgrey;
	}
	a{
		color: blue;
	}
	tr:first-child span, td:nth-of-type(2) a, td:nth-of-type(3) > a:nth-of-type(2){
		float: right;
	}
	div{
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.5s;
	}
	details{
		background: white;
	}
	</style>
</head>
<html>
	<h1>
		Test report generated at: {{date}}<br>
		Suite: {{suite}}<br>
		Suite last ran at: {{earliest}}
	</h1>
	<table border cellspacing=0 cellpadding=0>
		<tr>
			<td>
				Test Name
				<svg>
					<path stroke="none" fill="green" d="{{pietp}}" />
					<path stroke="none" fill="red" d="{{pietf}}" />
					<circle cx=50 cy=50 r=25 fill=white />
					<text x="50" y="47" fill="green" text-anchor="middle">{{totalpasses}}</text>
					<text x="50" y="63" fill="red" text-anchor="middle">{{totalfails}}</text>
				</svg>
			</td>
			<td>
				Test Result
				<span class=red title="Failed">{{fails}}</span>
				<span class=green title="Passed">{{passes}}</span>
			</td>
			<td>
				Screenshot Comparison
				<span class=red title="Failed">{{screenshotfails}}</span>
				<span class=grey title="Disabled">{{screenshotnulls}}</span>
				<span class=green title="Passed">{{screenshotpasses}}</span>
			</td>
		</tr>
		{{#each results}}
		<tr>
			<td class="{{class}}{{class2}}">
				<details>
					<summary class="{{class}}{{class2}}">
						<strong>{{name}}</strong><br>
						{{details}}
					</summary>
						<svg viewbox="0 0 500 100" preserveAspectRatio="none">
							<rect width="50" height="100%" class="{{history.9.result}}"></rect>
							<rect width="50" height="100%" class="{{history.8.result}}" x=50></rect>
							<rect width="50" height="100%" class="{{history.7.result}}" x=100></rect>
							<rect width="50" height="100%" class="{{history.6.result}}" x=150></rect>
							<rect width="50" height="100%" class="{{history.5.result}}" x=200></rect>
							<rect width="50" height="100%" class="{{history.4.result}}" x=250></rect>
							<rect width="50" height="100%" class="{{history.3.result}}" x=300></rect>
							<rect width="50" height="100%" class="{{history.2.result}}" x=350></rect>
							<rect width="50" height="100%" class="{{history.1.result}}" x=400></rect>
							<rect width="50" height="100%" class="{{history.0.result}}" x=450></rect>
							<path d="M 25 {{svgc.9.c}} L 75 {{svgc.8.c}} L 125 {{svgc.7.c}} L 175 {{svgc.6.c}} L 225 {{svgc.5.c}} L 275 {{svgc.4.c}} L 325 {{svgc.3.c}} L 375 {{svgc.2.c}} L 425 {{svgc.1.c}} L 475 {{svgc.0.c}}" fill=none stroke=black ></path>
						</svg>
						Execution times of the last 10 test results.
				</details>
			</td>
			<td class="{{class}}">
				<details>
					<summary class="{{class}}">{{{testResult}}}</summary>
					{{#each steps}}
					{{{notes}}}<br>
					{{/each}}
				</details>
			</td>
			<td class="{{class2}}">
				{{{screenshotResult}}}
			</td>
		</tr>
		{{/each}}
	</table>
</html>