<head>
	<style>
	table{
		font-size: 24;
		width: 100%;
	}
	tr:nth-of-type(1){
		font-weight: bold;
	}
	tr.truetrue,tr.truenull{
		background-color: lightgreen;
	}
	tr.falsetrue,tr.truefalse,tr.falsenull,tr.falsefalse{
		background-color: pink;
	}
	td{
		width: 33%;
	}
	td.true{
		background-color: lightgreen;
	}
	td.false{
		background-color: pink;
	}
	td.null{
		background-color: lightgrey;
	}
	a{
		color: blue;
	}
	a:nth-of-type(2){
		float: right;
	}
	</style>
</head>
<html>
	<h1>
		Test report for {{date}}
	</h1>
	<table border cellspacing=0>
		<tr>
			<td>
				Test Name
			</td>
			<td>
				Test Result
			</td>
			<td>
				Screenshot Comparison
			</td>
		</tr>
		{{#each results}}
		<tr class="{{class}}{{class2}}">
			<td>
				{{name}}
			</td>
			<td class="{{class}}">
				{{{testResult}}}
			</td>
			<td class="{{class2}}">
				{{{screenshotResult}}}
			</td>
		</tr>
		{{/each}}
	</table>
</html>