<head>
	<style>
	table{
		font-size: 24;
		width: 100%;
	}
	tr:nth-of-type(1){
		font-weight: bold;
	}
	span{
		float: right;
		padding: 0 10;
	}
	span.green{
		color: green;
	}
	span.red{
		color: red;
	}
	span.grey{
		color: grey;
	}
	svg{
		height: 100px;
		width: 100px;
		float: right;
		font-size: 20;
	}
	td{
		width: 33%;
	}
	td.truetrue,td.truenull{
		background-color: lightgreen;
	}
	td.falsetrue,td.truefalse,td.falsenull,td.falsefalse{
		background-color: pink;
	}
	td.true{
		background-color: lightgreen;
	}
	td.false{
		background-color: pink;
	}
	td.null{
		background-color: lightgrey;
	}
	a{
		color: blue;
	}
	td:nth-of-type(2) > a, td:nth-of-type(2) > span{
		float: right;
	}
	a:nth-of-type(2){
		float: right;
	}
	</style>
</head>
<html>
	<h1>
		Test report generated at: {{date}}<br>
		Suite: {{suite}}<br>
		Suite last ran at: {{earliest}}
	</h1>
	<table border cellspacing=0>
		<tr>
			<td>
				Test Name
				<svg>
					<path stroke="none" fill="green" d="{{pietp}}" />
					<path stroke="none" fill="red" d="{{pietf}}" />
					<circle cx=50 cy=50 r=25 fill=white />
					<text x="50" y="47" fill="green" text-anchor="middle">{{totalpasses}}</text>
					<text x="50" y="63" fill="red" text-anchor="middle">{{totalfails}}</text>
				</svg>
			</td>
			<td>
				Test Result
				<span class=red title="Failed">{{fails}}</span>
				<span class=green title="Passed">{{passes}}</span>
			</td>
			<td>
				Screenshot Comparison
				<span class=red title="Failed">{{screenshotfails}}</span>
				<span class=grey title="Disabled">{{screenshotnulls}}</span>
				<span class=green title="Passed">{{screenshotpasses}}</span>
			</td>
		</tr>
		{{#each results}}
		<tr>
			<td class="{{class}}{{class2}}">
				<strong>{{name}}</strong><br>
				{{details}}
			</td>
			<td class="{{class}}">
				{{{testResult}}}
			</td>
			<td class="{{class2}}">
				{{{screenshotResult}}}
			</td>
		</tr>
		{{/each}}
	</table>
</html>